<% provide(:title, "Dashboard") %>

<div class="text-center">
  <h3>Admin Dashboard</h3>
  <hr>
  <%= link_to "View Partners and Campaigns", partners_path %>
  <hr>
  <%= link_to "View Donors", donors_path %>
</div>