<% provide(:title, "Dashboard") %>

<div class="text-center">
  <h3>Admin Dashboard</h3>
  <hr>
  <%= link_to "View Donors", donors_path %>
  <hr>
  <%= link_to "View Partners", partners_path %>
  <hr>
  <%= link_to "View Campaings", campaigns_path %>
  <hr>
  <%= link_to "View Admins", admins_path %>
</div>