<% provide(:title, 'Edit Donor') %>
<% provide(:button_text, 'Update Donor') %>

<h1>Editing Donor</h1>

<%= render 'form', donor: @donor %>

<%= link_to 'Show', @donor %> |
<%= link_to 'Back', donors_path %>
