<% provide(:title, 'All partners') %>
<h3>All partners</h3>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @partners %>
  </tbody>
</table>


<%= will_paginate %>