<% provide(:title, "Dashboard") %>

<div class="text-center">
  <h2>Partner Dashboard</h2>
  <hr>
  <h3>My Partner Profile</h3>
  <h4>Name: <%= @partner.name %></h4>
  <h4>Username: <%= @partner.username %></h4>
  <h4>Email: <%= @partner.email %></h4>
</div>
