<% provide(:title, "Home") %>

<div class="text-center">
  <h3>Home Page Content goes here</h3>
  <hr>
  <%= link_to "Donors Sign Up", donors_signup_path %>
  <hr>
  <%= link_to "Partners Sign Up", partners_signup_path %>
  <hr>
</div>