<provide(:title, 'Edit Campaign') %>
<% provide(:button_text, 'Edit Campaign') %>
<h3>Edit Campaign</h3>
<%= link_to 'Back to My Campaigns', partner_campaigns_path %>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
